<ul>
    <li> <a href="index"> Index</a> </li>
    <li> <a href="{{path("app_contact", {"name": "Oualid"} )}}"> Contact </a> </li>
    <li> <a href="{{path("app_template")}}"> Template </a> </li>
</ul>